# Loops in python
### Loops are itretive statements:
#### Key Concepts:
**Iteration:** Each time a loop executes its block of code is called an iteration.\
**Control Statements:** You can control the flow of loops using statements like break (to exit the loop) and continue (to skip to the next iteration).
**Nested Loops:** You can place loops inside other loops, which can be useful for working with multi-dimensional data structures.\
**Use Cases:**
Processing items in a list or array.\
Repeating actions until a certain condition is met.\
Automating repetitive tasks in data processing, simulations, etc.\
Loops are essential for efficient programming and help reduce code redundancy

**For Loop:**

Used when the number of iterations is known.

In [1]:
months_of_year = ["January", "Febuary", "March", "April", "May", "June", "July", "August","September", "October", "November", "December"]
for month in months_of_year:                 # i is actually place name
    print("Month of the Year:", month)       # correct code with list of rwelve month

Month of the Year: January
Month of the Year: Febuary
Month of the Year: March
Month of the Year: April
Month of the Year: May
Month of the Year: June
Month of the Year: July
Month of the Year: August
Month of the Year: September
Month of the Year: October
Month of the Year: November
Month of the Year: December

In [2]:
fruits=['mango','apple','grapes','pineapple','cherry']
for fruit in fruits:
    print("My favourite fruit is:",fruit)
    print("It is healthy.")               #fruit ia itrator and fruits is a list

My favourite fruit is: mango
It is healthy.
My favourite fruit is: apple
It is healthy.
My favourite fruit is: grapes
It is healthy.
My favourite fruit is: pineapple
It is healthy.
My favourite fruit is: cherry
It is healthy.

In [3]:
sisters = ("Shabana", "Noureen", "Murk")
brothers = ("Salman", "Kashif","Waqaur","Adnan")
for sis in sisters:
    print("My best friend is my sister:",sis)
for bro in brothers:
        print("My best brother:",bro)

My best friend is my sister: Shabana
My best friend is my sister: Noureen
My best friend is my sister: Murk
My best brother: Salman
My best brother: Kashif
My best brother: Waqaur
My best brother: Adnan

In [4]:
sisters = ("Shabana", "Noureen", "Murk")
brothers = ("Salman", "Kashif","Waqaur","Adnan")
for sis in sisters:
    print("My best friend is my sister:",sis)
    print("We are best friends.")
for bro in brothers:
        print("My best brother:",bro)
        print("We are a family.")

My best friend is my sister: Shabana
We are best friends.
My best friend is my sister: Noureen
We are best friends.
My best friend is my sister: Murk
We are best friends.
My best brother: Salman
We are a family.
My best brother: Kashif
We are a family.
My best brother: Waqaur
We are a family.
My best brother: Adnan
We are a family.

#### If you want a number range up to 100, then write 101 because the last number is exclusive.

writing of for loop:\
for itrator in iterable:\
______ statement

In [10]:
for number in range(1,11):                # number is itrator, mean i.
    print(number)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(0,101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
for i in range(0,50,2):         # even number by steps
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [7]:
for i in range(1,50,2):         # odd number by steps
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [8]:
name='Ahmed'   
last='Ambreen'
for char in name:
    print(char)
for char in last:
        print(char)
print("Loop Execution Completed.")

A
h
m
e
d
A
m
b
r
e
e
n
Loop Execution Completed.

In [9]:
name=['Ahmed']            # this is called nested for loop (name inside the name)
last=['Ambreen']
for char in name:
    print(char)
for char in last:
        print(char)
print("Loop Execution Completed.")             # this print is out of loop

Ahmed
Ambreen
Loop Execution Completed.

In [11]:
# 2*1=1 (number*i=number*i)
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(1,11):
    print(number,"*",i,"=",number*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(0,11,2):              # for even numbers use step
    print(number,"*",i,"=",number*i)

5 * 0 = 0
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40
5 * 10 = 50

In [13]:
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(1,11,2):              # for odd numbers use step
    print(number,"*",i,"=",number*i)

6 * 1 = 6
6 * 3 = 18
6 * 5 = 30
6 * 7 = 42
6 * 9 = 54

### Program- The current population of a town is 10000. the population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of the last 10 years.

In [15]:
year=int(input("Enter your desired Year for Population:"))
population_of_a_town=10000

population_of_a_town=float(input("Enter the Population of your Country: "))
print(population_of_a_town*10/100)
for i in range(10):
    print("The population in",year,":",population_of_a_town)
    population_of_a_town=population_of_a_town/1.1
    year=year-1

1000.0
The population in 2024 : 10000.0
The population in 2023 : 9090.90909090909
The population in 2022 : 8264.462809917353
The population in 2021 : 7513.148009015775
The population in 2020 : 6830.134553650703
The population in 2019 : 6209.213230591548
The population in 2018 : 5644.739300537771
The population in 2017 : 5131.5811823070635
The population in 2016 : 4665.07380209733
The population in 2015 : 4240.976183724845

### Some more examples of percentage

### The population of a village is 15000. If the population increased by 5% in a year, find the population after one year.

In [16]:
print(15000*5/100)
print(15000+750)

750.0
15750

#### now in for loop

### The population of a village is 15000. If the population increased by 5% in a year, find the population after five years.

In [17]:
year=int(input("Enter your desired year: "))
population_of_a_village=float(input("Enter the population of a village: "))

village_population = 15000
after_5_years=village_population*5/100
print(after_5_years)
print("After one year:",village_population+750)
for i in range(5):
    print("The population in",year,":",village_population)
    village_population=village_population*1.05
    year=year+1

750.0
After one year: 15750
The population in 2024 : 15000
The population in 2025 : 15750.0
The population in 2026 : 16537.5
The population in 2027 : 17364.375
The population in 2028 : 18232.59375

In [18]:
import math
math.factorial(3)         # FOR TAKING FACTORIAL OF ANY NUMBER FIRST IMPORT math library

6

In [19]:
# factorial
number= int(input("enter number"))
result=0
fact=1
for i in range(10,number,-1):                       #for reverse
    fact=fact*i
    result=result+i/fact
    print("result",result)

result 1.0
result 1.1
result 1.1111111111111112
result 1.1125
result 1.1126984126984127

In [20]:
number= int(input("enter number"))
result=0
fact=1
for i in range(1,number+1):                       # for positive
    fact=fact*i
    result=result+i/fact
    print("result",result)

result 1.0
result 2.0
result 2.5
result 2.6666666666666665
result 2.708333333333333

#### Nested loop of "for"
in nested loop it is about raw and columns

In [21]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

Whenever you pass single perameter_ argument in a range function that's always started from 0.

In [22]:
print(range(5))

range(0, 5)

In [23]:
for i in range(2,5):
    for j in range(4,6):
        print(i,j)

2 4
2 5
3 4
3 5
4 4
4 5

In [24]:
for i in range(10,1,-1):
    print(i)                           # this is backward

10
9
8
7
6
5
4
3
2

In [25]:
for i in range(10,-1,-1):
    print(i)                           # this is backward

10
9
8
7
6
5
4
3
2
1
0

In [26]:
print(range(10,-1,-1))

range(10, -1, -1)

In [ ]:
name_list=[]            # two lists together in one loop
last_name=[]
for i in range(1,4):
    name=input("Enter Student's Name:\t")
    l_name=input("Enter Student's Last Name:\t")
    name_list.append(name)
    last_name.append(l_name)
print(name_list)
print(last_name)

In [28]:
d={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
for name in d:
    print(name)              # only for key/correct

Name
Gender
Age
Designation

In [29]:
d2={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
for i in d2:
    print(d2[i])       # it is without keys/coorect

Ambreen
Female
40
Student

In [30]:
d2={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
for i in d2:
    print(i,":",d2[i])               # ab dono key & value chahiye. to [i] is indexing of value/correct

Name : Ambreen
Gender : Female
Age : 40
Designation : Student

Taking a sum of number list with loop.\
important point: "Always initialize the sum to 0, because a sum of 0 can be added to any number during iteration."

In [31]:
number=[34,47,0,55]
sum=0                   # always initialize the sum to 0, because a sum of 0 can be added to any number during itration 
for i in number:
    sum+=i            # sum = sum + i
print(sum)

136

In [32]:
for i in range(1,2):
    print(i*"*")
    for j in range(1,3):
        print(j*"**")
        for k in range(1,4):
            print(k*"***")                 # my work/ yhan apka kam ziyada multiply hota he

*
**
***
******
*********
****
***
******
*********

In [33]:
for i in range(1,5):
    print(i*"*")

*
**
***
****

In [34]:
#if you want to see your character then go for multiplication
'&'*3                #desired time
'3'*3

'333'

In [35]:
rows=int(input("enter number of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print()                                         # it will add one by one

&
&&
&&&
&&&&

In [36]:
rows=int(input("enter number of rows"))

for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

&&
&

In [37]:
rows=int(input("enter number of rows"))
 
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print() 
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

&
&&
&&&
&&&&
&&&&&
&&&&&
&&&&
&&&
&&
&

In [38]:
rows=int(input("enter number of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print()                                    #dimond shap banana he it is incomplete
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

&
&&
&&&
&&&&
&&&&
&&&
&&
&

pattern 2\
1\
121\
12321\
1234321

In [39]:
rows=int(input("enter sequense"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
            print(k,end='')      
    print()

1
121
12321
1234321
123454321