## Conditional Statement: (Statements carry Conditions, Indentations, Branching Concepts, if-elif-else)
#### A conditional statement in Python is a feature that allows you to execute certain blocks of code based on whether a specified condition is true or false. The most common conditional statements are if, elif, and else.

### Branches in a conditional statement refer to the different paths of execution that the program can take based on the evaluation of conditions. Each branch corresponds to a specific condition and defines what action to take if that condition is met.

## Types of Branches:
### If Branch: The initial condition that is checked. If this condition is true, the code block under it is executed.
#### if condition:
         # Statement
### Elif Branch: Short for "else if," this branch allows you to check additional conditions if the previous if condition was false. You can have multiple elif branches.

#### elif another_condition:
          # Statement
### Else Branch: This branch executes if none of the preceding if or elif conditions are true. It acts as a catch-all
          # print

In [46]:
# identify a nature of a number is +ve, Zero, -ve entered by a user
number=int(input("Enter your Number"))
if number>0:
       print("The number is positive.")
elif number<0:
    print("The number is negative.")
else:
   print("Your number is Zero.")              # correct code

The number is positive.

# It is called nested if condition:

[ To restrict the user to input only digits, with .isdigit( ) ]

In [43]:
# 1. [user_input=input("Enter a number:")]     This line checks if the input is a valid number.
# 2. [user_input.replace(".", "")]             removes any decimal point, allowing the check to work for floating-point numbers (though it will still be treated as a string).
# 3. [.isdigit()]                              checks if the remaining characters are all digits. If true, it means the input is a valid integer or a float without considering the decimal point

user_input=input("Enter a number:") 
            
if user_input.replace("-", "").replace("+", "").replace(".", "").isdigit():      # check if input is a digit
    num = float(user_input)                                 
    if num > 50:              
        print("That is Correct Number.") 
    elif num < 30:            
        print("Please try again.")       
    else:                               
        print("That's perfect Number.")  
else:
    print("Enter a valid Number.")                                            # correct code

That's perfect Number.

Make sure that you meet the age criteria for the online admission form.

In [11]:
user_age=input("Enter your age for admission in Bachlor's from NED University:") 
            
if user_age.replace(".","").isdigit():      # check if input is a digit
    age= float (user_age)                    # Convert input to float            
    if age >= 19:              
        print("That is Required age for Bachlor's:",user_age) 
    elif age > 30:            
        print("Please try for Master's.")       
    else:                               
        print("That's not perfect age,You are in Intermidiat:",user_age)  
else:
    print("Enter a valid Number.")                                     # correct code

Enter a valid Number.

Shop for shirts online at your desired reasonable price.

In [12]:
user_price = input("Enter your desired Price of Shirt: ")

if user_price.replace(".", "").isdigit():  # Check if input is a digit
    shirt_price= float(user_price)         # Convert input to float
    if shirt_price < 500:
        print("The Price is too low.")
    elif 500 <= shirt_price <= 1000:
        print("That's a reasonable Price.")
    else:
        print("The Price is too high.")
else:
    print("Enter a valid Price and get your shirt easily.")                     # correct code

The Price is too high.

# All 3 above programs are correct
There are many other functions in the place of . isdigit( ) , like . isnumeric( ) , . isdecimal( ) , . isalnum( )    -for alphanumerics.

In [9]:
# Using str.isnumeric():
s = input("Enter your variable.")
if s.isnumeric():
    print("String is numeric:",s)
else:
    print("This is not numeric variable:",s)              # correct code

String is numeric: 5478

In [29]:
s= input("Enter any number.")
if s.isdecimal():
    deci= float(s)
    print("String is decimal", deci)
else:
    print("Your input is not Decimal:",s)            # correct code

String is decimal 585896.0

In [36]:
str_num=input("Enter your Alpha Numeric Password:")
if str_num.isalnum():
    print("Your passcode is alphanumeric:",str_num)
else:
    print("Please try again your Passcode is not Alpha Numeric:",str_num)               # correct code

Please try again your Passcode is not Alpha Numeric: -55ffff

All above programs are working.

### Now an other:
### Choose your dress for the office throughout the week.

In [1]:
friday="white kurta"
monday="Pant shirt with tie"
wednesday="T-shirt"

user_input=input('Enter your day.')
if user_input== "friday":
    print("today weaar", friday)
elif user_input== "monday":
    print("today weaar", monday)
elif user_input== "wednesday":
    print("today wear" , wednesday)
else:
    print('enter day in _ _ _ format')                      # correct code

today weaar Pant shirt with tie

### User Login with email and Password

In [6]:
# (simple program) user login name and password
username='ambreen@gmail.com'
password='123ab'

username=input("Enter your Email")
password=input("Enter your password")
if username == 'ambreen@gmail.com' and password == '123ab':
    print("Welcome to Gmail")
else:
    print("Incorrect password:\t",password)                          # correct code

Incorrect password:	 123df

#### (2nd program)user login name and password

In [20]:
# (2nd program)user login name and password
username = 'ambreen@gmail.com'
password = '123ab'

username = input("Enter your Email")
password = input("Enter your password")
if username == 'ambreen@gmail.com' and password =='123ab':
    print("Welcome to Gmail")
    if password != '123ab':
        print("Please Enter your correct Passcode:\t",password)
    elif username != 'ambreen@gmail.com':
        print("Your email is incorrect:\t", username)
else:
    print("Your Email ID and Password are incorrect !")                   # correct code

Your Email ID and Password are incorrect !

Provide an option to re-enter the password if it is incorrect a second time.\
Guided by Sir Sajid Majeed.

In [35]:
username=input("Enter your E-mail Adress: ")
passcode=input("Enter your Passcode: ")

if username == 'abida@gmail.com' and passcode == '123ab':
    print("Welcome to your gmail account.")
elif username == 'abida@gmail.com' and passcode != '123ab':
    print("Re Enter your password:\t",passcode)
    passcode = input("Enter your Password again!")
    if passcode == '123ab':
        print("welcome to your gmail account after second attempt: ",passcode)
    else:
        print("You have not Enter correct password. Sorry!:\t",passcode)
else:
    print("Incorrect E-mail ID:",  username,"  and Password:", passcode, ". That's why your account is blocked.")             # correct code

Incorrect E-mail ID: abda@gmail.com   and Password: 46sd . That's why your account is blocked.

take out smallest number from user input\
take out greatest or largest number from userinput.

In [49]:
number1=int(input("Enter your Number1:"))
number2=int(input("Enter your 2nd Number2:"))
number3=int(input("Enter your 3rd Number3:"))
if number1<number2 and number1<number3:
    print("Number1 is Smallest:\t",number1)
elif number2< number3:
    print("Number2 is Smallest",number2)
else:
    print("Number3 is Smallest:", number3)               # correct code

Number3 is Smallest: 600

In [51]:
number1=int(input("Enter your Number1:"))
number2=int(input("Enter your 2nd Number2:"))
number3=int(input("Enter your 3rd Number3:"))
if number1 > number2 and number1 > number3:
    print("Number1 is Greater:\t",number1)
elif number2 > number3:
    print("Number2 is Greater",number2)
else:
    print("Number3 is Greater:", number3)                   # correct code

Number3 is Greater: 600

### Calculate the Electricity bill, we must understand Electricity Charges and Rates:
1- 100 unit -1.5/=\
101-200 unit - 2.5/=\
201 - 300 unit - 4/=\
300 -250 unit - 5/=\
above 300 - fixed charge 1500/=\
Additional charges\
if units<=100 -25.00\
if 100 < units and units<= 200 - 50.00\
if 200 < units and units<=300-75.00\
if 300 < units and units <=350 - 100.0\
if units above 350 - No additional charges

In [56]:
units = int(input("Please Enter Units"))

if  units <= 100:
    print((units*1.5)+25)
elif units < 200:
    print((100*1.5)+((units-100)*2.5)+25)
elif units < 300:
     print((100*1.5)+((units-100)*2.5)+((units-200)*4)+50)
elif units < 350:
     print((100*1.5)+((units-100)*2.5)+((units-200)*4)+((units-300)*5)+100)
else:
    print("Fixed bill",1500)                                   # correct code

145.0

#### program guided by Sir Sajid Majeed

In [61]:
units=int(input("Please Enter the number of units you consumed in a Month: "))
if(units<=100):
    payAmount=units*1.5
    fixedcharge=25.00
elif(units<=200):
    payAmount=(100*1.5)+(units-100)*2.5
    fixedcharge=50.00
elif(units<=300):
    payAmount=(100*1.5)+(200-100)*2.5+(units-200)*4
    fixedcharge=75.00
elif(units<=350):
    payAmount=(100*1.5)+(200-100)*2.5+(300-200)*4+(units-300)*5
    fixedcharge=100.00
else:
    payAmount=0
    fixedcharge=1500.00
    
Total=payAmount+fixedcharge
print("Electricity Bill:\t", Total)             # correct code

Electricity Bill:	 1500.0

### Calculate the numbers
#### Guided by Sir Sajid Majeed

In [19]:
# This calculator is guided by sir Sajid Majeed
option= input ('''
1. Addition
2. Subtraction
3. Product
4. Division
5. Remainder
6. Power of
7. Floor division
''')
number1= float(input("Enter any first NUmber:"))
number2= float(input("Enter any second Number:"))
if option=='1':
    print("The Addition of ",number1,"and",number2, "is: \t", number1+number2)
elif option=='2':
    print("The Difference of Subtraction",number1, "and", number2, "is: \t",number1-number2)
elif option=='3':
    print("The Product of Multiplication",number1,"and",number2, "is:\t",number1*number2)
elif option=='4':
    print("The Division of",number1, "and", number2,"is:\t",number1/number2)
elif option=='5':
    print("The Remaider of",number1,"and",number2,"is:\t",number1%number2)
elif option=='6':
    print("The Power of",number1,"and",number2,"is:\t",number1**number2)
elif option=='7':
    print("The Floor Division of",number1,"and",number2,"is:\t",number1//number2)
else:
    print("Kindly Enter a valid Number..")            # correct code

The Floor Division of 55.0 and 10.0 is:	 5.0

### Car Price aand tax:
car_cost= 5 lac,tax -> 5 %\
car_cost= 6 laac to 10 lac, tax -> 10 %\
car_cost= 11 lac to 20 lac, tax -> 20 %\
car_cosst= 30 lac to 40 lac, tax -> 25 %\
car_cost= 40 lac to 50 lac, tax -> 30 %\
car_cost= 1 cr to 2 cr, tax-> 45 %\
car > 2 cr, tax -> 50 %

In [58]:
carprice = int(input("Please Enter your Car_Price:\t"))

if  carprice <= 500000:
    print(((carprice*5)/100)+carprice)
elif carprice <= 1000000:
    print((carprice*10/100)+carprice)
elif carprice <= 2000000:
     print((carprice*20/100)+carprice)
elif carprice <= 3000000 and carprice <= 4000000:
     print((carprice*25/100)+carprice)
elif carprice <= 4000000 and carprice >= 5000000:
     print((carprice*30/100)+carprice)
elif carprice <= 100000000:
     print((carprice*45/100)+carprice)
elif carprice >=200000000:
     print((carprice*50/100)+carprice)
else:
     print("Enter the valid number...")              # correct code

2400000.0

#### Take 6 subjects marks each subject marks is 100 from Teacher and calculate obtained marks amd percentage of a student and then assign a Grade to student on the basis of the given criteria below:
A: 90 and Above\
B: between 80 and 89\
C: between 70 and 79\
D: between 60 and 69\
F: below 60


output:\
print Obtained\
print percentage\
print Grade

### School Subject Marksheet: (Complete)

In [31]:
s1= float(input("Enter marks of English"))
s2= float(input("Enter marks of Science"))
s3= float(input("Enter marks of Social Studies"))
s4= float(input("Enter marks of Islamiat"))
s5= float(input("Enter marks of Urdu"))
s6= float(input("Enter marks of History"))
totalmarks=600
obtainedmarks=s1+s2+s3+s4+s5+s6
per = (obtainedmarks*100)/totalmarks

if per < 60 and per <= 69:
    print("Obtasined marks are",obtainedmarks,"percentage is ",per,"Grade is D")
elif per <= 79:
    print("Obtasined marks are",obtainedmarks,"percentage is ",per,"Grade is C")
elif per <= 89:
    print("Obtasined marks are",obtainedmarks,"percentage is ",per,"Grade is B")
elif per > 89:
    print("Obtasined marks are",obtainedmarks,"percentage is ",per,"Grade is A")
else:
    print("Obtasined marks are",obtainedmarks,"percentage is ",per,"Grade is F")            # correct code

Obtasined marks are 78.0 percentage is  13.0 Grade is D

### An other Mark sheet

### Marks / Grades Sheet
Subjects:   Total marks
Social Science  = 100
English         = 100
Urdu            = 100
Maths           = 100
Chemistry       = 100
Physics         = 100

Total Marks     = 600

Grade A    : 90% and Above
Grade B    : 80%  to 89 %
Grade C    : 70%  to 79 %
Grade D    : 60%  to 69 %
Grade Fail : Below 60 %


Outputs Required :
Print Obtained Marks
Print total percentage Obtained
Print Grade Achieved

In [4]:
S_S  = float (input(" Enter Social Studies Marks , "))
Eng  = float (input(" Enter English Marks , "))
Urd  = float (input(" Enter Urdu Marks , "))
Math = float (input(" Enter Maths Marks , "))
Chem = float (input(" Enter Chemistry Marks , "))
Phy  = float (input(" Enter Physics Marks , "))

O_Marks = S_S+Eng+Urd+Math+Chem+Phy
T_Marks = 600

O_Grade = float( O_Marks / T_Marks)

A = 0.90
B = 0.80
C = 0.70
D = 0.60
Fail = 0.59
print (" ")
print ("______________ Marks Sheet ___________________________")

print ("Social Studies - " , S_S  , "Marks out of   100 Marks ")
print ("English - - -  - " , Eng  , "Marks out of   100 Marks ")
print ("Urdu - - -  -  - " , Urd  , "Marks out of   100 Marks ")
print ("Maths - - -  - - " , Math , "Marks out of   100 Marks ")
print ("Chemistry - - -  " , Chem , "Marks out of   100 Marks ")
print ("Physics - - -  - " , Phy  , "Marks out of   100 Marks ")
print ("______________________________________________________")
print ("Obtained Marks -" , (O_Marks) , "Marks out of   600 Marks ")
print (" ")

if O_Grade > A: 
    print ('You Obtained "A" Grade.. Congratulations ' ),
if O_Grade > B and O_Grade < A: 
    print ('You Obtained "B" Grade.. Congratulations ' ),
if O_Grade > C and O_Grade < B: 
    print ('You Obtained "C" Grade.. Congratulations ' ),    
if O_Grade > D and O_Grade < C: 
    print ('You Obtained "D" Grade.. Congratulations ' ),    
if O_Grade < D : 
    print ('You are Declared as Fail. We are sorry we can not promot you to Next class.' ),
else:
   print ("")                         # correct code

______________ Marks Sheet ___________________________
Social Studies -  88.0 Marks out of   100 Marks
English - - -  -  84.0 Marks out of   100 Marks
Urdu - - -  -  -  56.0 Marks out of   100 Marks
Maths - - -  - -  252.0 Marks out of   100 Marks
Chemistry - - -   53.0 Marks out of   100 Marks
Physics - - -  -  66.0 Marks out of   100 Marks
______________________________________________________
Obtained Marks - 599.0 Marks out of   600 Marks

You Obtained "A" Grade.. Congratulations

# Loops in python
### Loops are itretive statements:
#### Key Concepts:
**Iteration:** Each time a loop executes its block of code is called an iteration.\
**Control Statements:** You can control the flow of loops using statements like break (to exit the loop) and continue (to skip to the next iteration).
**Nested Loops:** You can place loops inside other loops, which can be useful for working with multi-dimensional data structures.\
**Use Cases:**
Processing items in a list or array.\
Repeating actions until a certain condition is met.\
Automating repetitive tasks in data processing, simulations, etc.\
Loops are essential for efficient programming and help reduce code redundancy

**For Loop:**

Used when the number of iterations is known.

In [81]:
months_of_year = ["January", "Febuary", "March", "April", "May", "June", "July", "August","September", "October", "November", "December"]
for month in months_of_year:                 # i is actually place name
    print("Month of the Year:", month)       # correct code with list of rwelve month

Month of the Year: January
Month of the Year: Febuary
Month of the Year: March
Month of the Year: April
Month of the Year: May
Month of the Year: June
Month of the Year: July
Month of the Year: August
Month of the Year: September
Month of the Year: October
Month of the Year: November
Month of the Year: December

In [41]:
fruits=['mango','apple','grapes','pineapple','cherry']
for fruit in fruits:
    print("My favourite fruit is:",fruit)
    print("It is healthy.")               #fruit ia itrator and fruits is a list

My favourite fruit is: mango
It is healthy.
My favourite fruit is: apple
It is healthy.
My favourite fruit is: grapes
It is healthy.
My favourite fruit is: pineapple
It is healthy.
My favourite fruit is: cherry
It is healthy.

In [18]:
sisters = ("Shabana", "Noureen", "Murk")
brothers = ("Salman", "Kashif","Waqaur","Adnan")
for sis in sisters:
    print("My best friend is my sister:",sis)
for bro in brothers:
        print("My best brother:",bro)

My best friend is my sister: Shabana
My best friend is my sister: Noureen
My best friend is my sister: Murk
My best brother: Salman
My best brother: Kashif
My best brother: Waqaur
My best brother: Adnan

In [19]:
sisters = ("Shabana", "Noureen", "Murk")
brothers = ("Salman", "Kashif","Waqaur","Adnan")
for sis in sisters:
    print("My best friend is my sister:",sis)
    print("We are best friends.")
for bro in brothers:
        print("My best brother:",bro)
        print("We are a family.")

My best friend is my sister: Shabana
We are best friends.
My best friend is my sister: Noureen
We are best friends.
My best friend is my sister: Murk
We are best friends.
My best brother: Salman
We are a family.
My best brother: Kashif
We are a family.
My best brother: Waqaur
We are a family.
My best brother: Adnan
We are a family.

#### If you want a number range up to 100, then write 101 because the last number is exclusive.

writing of for loop:\
for itrator in iterable:\
______ statement

In [78]:
for i in range(0,101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [44]:
for i in range(0,50,2):         # even number by steps
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [42]:
for i in range(1,50,2):         # odd number by steps
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [25]:
name='Ahmed'   
last='Ambreen'
for char in name:
    print(char)
for char in last:
        print(char)
print("Loop Execution Completed.")

A
h
m
e
d
A
m
b
r
e
e
n
Loop Execution Completed.

In [24]:
name=['Ahmed']            # this is called nested for loop (name inside the name)
last=['Ambreen']
for char in name:
    print(char)
for char in last:
        print(char)
print("Loop Execution Completed.")

Ahmed
Ambreen
Loop Execution Completed.

In [5]:
for number in range(1,11):                # number is itrator, mean i.
    print(number)

1
2
3
4
5
6
7
8
9
10

In [28]:
# 2*1=1 (number*i=number*i)
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(1,11):
    print(number,"*",i,"=",number*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(0,11,2):              # for even numbers use step
    print(number,"*",i,"=",number*i)

5 * 0 = 0
5 * 2 = 10
5 * 4 = 20
5 * 6 = 30
5 * 8 = 40
5 * 10 = 50

In [33]:
number=int(input("Enter your desired number for 'Times of Table':" ))     # this input is for any required number for "times of table"
for i in range(1,11,2):              # for odd numbers use step
    print(number,"*",i,"=",number*i)

5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

### Program- The current population of a town is 10000. the population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of the last 10 years.

In [63]:
year=int(input("Enter your desired Year for Population:"))
population_of_a_town=10000

population_of_a_town=float(input("Enter the Population of your Country: "))
print(population_of_a_town*10/100)
for i in range(10):
    print("The population in",year,":",population_of_a_town)
    population_of_a_town=population_of_a_town/1.1
    year=year-1

1000.0
The population in 2024 : 10000.0
The population in 2023 : 9090.90909090909
The population in 2022 : 8264.462809917353
The population in 2021 : 7513.148009015775
The population in 2020 : 6830.134553650703
The population in 2019 : 6209.213230591548
The population in 2018 : 5644.739300537771
The population in 2017 : 5131.5811823070635
The population in 2016 : 4665.07380209733
The population in 2015 : 4240.976183724845

In [72]:
5/100

0.05

### Some more examples of percentage

### The population of a village is 15000. If the population increased by 5% in a year, find the population after one year.

In [61]:
print(15000*5/100)
print(15000+750)

750.0
15750

#### now in for loop

### The population of a village is 15000. If the population increased by 5% in a year, find the population after five years.

In [4]:
year=int(input("Enter your desired year: "))
population_of_a_village=float(input("Enter the population of a village: "))

village_population = 15000
after_5_years=village_population*5/100
print(after_5_years)
print("After one year:",village_population+750)
for i in range(5):
    print("The population in",year,":",village_population)
    village_population=village_population*1.05
    year=year+1

750.0
After one year: 15750
The population in 2024 : 15000
The population in 2025 : 15750.0
The population in 2026 : 16537.5
The population in 2027 : 17364.375
The population in 2028 : 18232.59375

In [ ]:
import math
math.factorial(3)         #FOR TAKING FACTORIAL OF ANY NUMBER FIRST IMPORT math library

6

In [ ]:
# factorial
number= int(input("enter number"))
result=0
fact=1
for i in range(10,number,-1):                       #for reverse
    fact=fact*i
    result=result+i/fact
    print("result",result)

result 1.0
result 1.1
result 1.1111111111111112
result 1.1125
result 1.1126984126984127

In [ ]:
# number= int(input("enter number"))
# result=0
# fact=1
# for i in range(1,number+1):                       # for positive
#     fact=fact*i
#     result=result+i/fact
#     print("result",result)

Nested loop of "for"

In [ ]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [9]:
for i in range(2,5):
    for j in range(4,6):
        print(i,j)

2 4
2 5
3 4
3 5
4 4
4 5

In [14]:
for i in range(10,1,-1):
    print(i)                           # this is

10
9
8
7
6
5
4
3
2

In [13]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [11]:
print(range(10,-1,-1))

range(10, -1, -1)

In [70]:
d={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
for name in d:
    print("Data of Employee ID No. 2314:", name)              # only for key/correct

Data of Employee ID No. 2314: Name
Data of Employee ID No. 2314: Gender
Data of Employee ID No. 2314: Age
Data of Employee ID No. 2314: Designation

In [71]:
d2={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
for i in d2:
    print("Data of Employee ID No. 2314:", i,":",d2[i])               #ab dono key & value chahiye to/correct

Data of Employee ID No. 2314: Name : Ambreen
Data of Employee ID No. 2314: Gender : Female
Data of Employee ID No. 2314: Age : 40
Data of Employee ID No. 2314: Designation : Student

In [32]:
for i in range(1,2):
    print(i*"*")
    for j in range(1,3):
        print(j*"**")
        for k in range(1,4):
            print(k*"***")                 # my work/ yhan apka kam ziyada multiply hota he

*
**
***
******
*********
****
***
******
*********

In [21]:
for i in range(1,5):
    print(i*"*")             #

*
**
***
****

In [23]:
#if you want to see your character then go for multiplication
'&'*3                #desired time
'3'*3

'333'

In [33]:
rows=int(input("enter number of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print()                                         # it will add one by one

&
&&
&&&
&&&&
&&&&&

In [46]:
rows=int(input("enter number of rows"))

for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

&&&&&
&&&&
&&&
&&
&

In [47]:
rows=int(input("enter number of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print() 
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

&
&&
&&&
&&&&
&&&&&
&&&&&
&&&&
&&&
&&
&

In [ ]:
rows=int(input("enter number of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('&',end='')
    print()                                    #dimond shap banana he
for i in range(rows,0,-1):
    for j in range(1,i+1):
        print('&',end='')
    print()

pattern 2\
1\
121\
12321\
1234321

In [58]:
rows=int(input("enter sequense"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
            print(k,end='')      
    print()

1
121
12321
1234321
123454321

**While Loop:**

Used when the number of iterations is not known in advance and depends on a condition