### 1. key value pair {}
### 2. values are mutable in nature
### 3. key always be imutable
### 4. key always be unique
### 5. homogeneous archetacture
### 6.

In [1]:
d={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student'}
print(d)
print(type(d))

{'Name': 'Ambreen', 'Gender': 'Female', 'Age': 40, 'Designation': 'Student'}
<class 'dict'>

In [7]:
d={'Name':'Ambreen','Gender':'Female','Age':40,'Designation':'Student','Skills':["data science","ML","AI"]}
print(d)
print(type(d))

{'Name': 'Ambreen', 'Gender': 'Female', 'Age': 40, 'Designation': 'Student', 'Skills': ['data science', 'ML', 'AI']}
<class 'dict'>

In [13]:
# this is an other way of writing dictionary n update the dictionary
d2=dict(Name='Ambreen',Gender='Female',Age='40',Skills=["Data science","AI","GI","Communication Skills"])
# d.update(d2)
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Age': '40', 'Skills': ['Data science', 'AI', 'GI', 'Communication Skills']}

In [10]:
# indexing
d2['Name']

'Ambreen'

In [11]:
d2['Age']

'40'

In [12]:
# indexing from list
d2['Skills'][2]

'GI'

In [14]:
d2['Skills'][3]

'Communication Skills'

In [15]:
d2['Skills'][0]

'Data science'

In [16]:
# an other function for indexing
d2.get('Name')

'Ambreen'

In [18]:
d2.get('Skills')[2]

'GI'

In [19]:
# dictionary inside the dictionary
d3={'Name':'Ambreen','Age':40,'Gender':'Female','Skills':["Data Science","AI","DL","Data Analyst"],'Marks':{'Data Science':55,'AI':67,'DL':80}}
print(d3)
print(type(d3))

{'Name': 'Ambreen', 'Age': 40, 'Gender': 'Female', 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}}
<class 'dict'>

In [21]:
# slicing or indexing of dictionary inside the dictionary.
d3['Marks']['AI']

67

In [22]:
d3['Marks']['DL']

80

In [27]:
d2.update(d3)
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Age': 40, 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}}

In [28]:
# for complete dictionary
# d2.items()
# for retrieving keys
# d2.keys()
# for retrieving values
#d2.values()
# with print function
print(d2.items())
print(d2.keys())
print(d2.values())

dict_items([('Name', 'Ambreen'), ('Gender', 'Female'), ('Age', 40), ('Skills', ['Data Science', 'AI', 'DL', 'Data Analyst']), ('Marks', {'Data Science': 55, 'AI': 67, 'DL': 80})])
dict_keys(['Name', 'Gender', 'Age', 'Skills', 'Marks'])
dict_values(['Ambreen', 'Female', 40, ['Data Science', 'AI', 'DL', 'Data Analyst'], {'Data Science': 55, 'AI': 67, 'DL': 80}])

In [33]:
print(len(d2))
print(min(d2))
print(max(d2))
print(sorted(d2))

6
Age
Skills
['Age', 'Gender', 'Marks', 'Name', 'Profession', 'Skills']

In [31]:
# updating of a key
d2['Profession']='Data Scientist'
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Age': 40, 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}, 'Profession': 'Data Scientist'}

In [37]:
# updating of a value
d2['Age']=38
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}, 'Profession': 'Data Scientist', 'Age': 38}

In [38]:
# pop(key)   for deleting
d2.pop('Age')
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}, 'Profession': 'Data Scientist'}

In [39]:
# popitems() for deleting
d2.popitem()
print(d2)

{'Name': 'Ambreen', 'Gender': 'Female', 'Skills': ['Data Science', 'AI', 'DL', 'Data Analyst'], 'Marks': {'Data Science': 55, 'AI': 67, 'DL': 80}}