# Assignment : 3

# Data Type (List)
In Programming: A data structure that holds an ordered collection of items, which can be of different types (e.g., integers, strings). In Python, for example, a list can be created using square brackets: [ ]\
List is immuteable.

1. Declare an empty List

In [113]:
# 1. Declair an empty list
months_of_year = []
print(type(months_of_year))                              # it will help you to know what is the data type```
print("Declearingn Empty List", months_of_year)          # represention of List is square brackets

<class 'list'>
Declearingn Empty List []

2. Declare a list with more than 5 items
3. Find the length of your list

In [114]:
# Let's make a list
months_of_year = ["January", "Febuary", "March", "April", "May", "June", "July", "August","September", "October", "November", "December"]
print(months_of_year) 
# For length of the List
print("The length of my ist is:",len(months_of_year))

['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
The length of my ist is: 12

Indexing always starts from 0.\
You can retrieving items one by one.

In [115]:
# Positive Indexing always starts from (0,1,2,3,4,.....) & Negative Indexing starts from (-1,-2,-3,-4,....)
# You can retrieving items one by one.
print(months_of_year[0])
print(months_of_year[1])
print(months_of_year[2])
print(months_of_year[3])

January
Febuary
March
April

Slicing [ inclusive : exclusive ]. Slicing means cut off.\
Exclusive means you have to read your list before that particular index.\
empty square brackets with collin means bring all items [rows:columns]

In [116]:
# 1. Slicing [inclusive:exclusive]. Slicing means cut off. Exclusive means you have to read your list before that particular index. 
# empty square brackets with collin means bring all items [rows:columns]
print(months_of_year[:]) 
print(months_of_year[0::6])
print(months_of_year[4:8])
print(months_of_year[8])
print(months_of_year[7:])

['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
['January', 'July']
['May', 'June', 'July', 'August']
September
['August', 'September', 'October', 'November', 'December']

4. Get the first item, the middle item and the last item of the list

In [117]:
print(months_of_year[0::5])                # it is closed answer
print(months_of_year[0:11])
print(months_of_year[-6:-1])

['January', 'June', 'November']
['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November']
['July', 'August', 'September', 'October', 'November']

In [118]:
first_item = months_of_year[0]
middle_item = months_of_year[len(months_of_year) // 2]             # This will give the middle item
last_item = months_of_year[-1]
print("First item:",first_item,",Middle item:",middle_item,",Last item:",last_item)

First item: January ,Middle item: July ,Last item: December

5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)

In [119]:
                      # name , age,  Hieght , marital status ,  Address
mixed_data_types = ["Ambreen" , 40 , 5.6 , "married" , "Rafi Pride-II Malir, Karachi, Pakistan" ]
print(mixed_data_types)

['Ambreen', 40, 5.6, 'married', 'Rafi Pride-II Malir, Karachi, Pakistan']

6. Declare a list variable named IT_companies and assign initial values Facebook, Google,
Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the
number of companies in the list

In [156]:
# Declare the list variable
# IT_companies1 = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Print the list
#print(IT_companies1)

# Print the number of companies in the list
#print("Number of companies:", len(IT_companies1))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of companies: 7

7. Print the first, middle and last company

In [157]:
# Print the list
# print(IT_companies1)
# print(IT_companies1[0::3])

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'Apple', 'Amazon']

8. Print the list after modifying one of the companies

In [167]:
# Declare the list variable
# IT_companies1 = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Modify one of the companies (e.g., change "Facebook" to "Meta")
# IT_companies1[0] = "Meta"

# Print the modified list
# print(IT_companies1)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Add an IT company to IT_companies

In [168]:
# IT_companies1.append('Netlix')
# print("After appending new company name in the List:",IT_companies1)

After appending new company name in the List: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Netlix']

10. Insert an IT company in the middle of the companies list

In [169]:

# Calculate the index for the middle company
#middle_index = len(IT_companies1) // 2

# Insert an IT company in the middle
#IT_companies1.insert(middle_index, "X-company")

# Print the updated list of companies
# print(IT_companies1)

['Meta', 'Google', 'Microsoft', 'Apple', 'X-company', 'IBM', 'Oracle', 'Amazon', 'Netlix']

11. Change one of the IT_companies names to uppercase (IBM excluded!)

In [170]:
# IT_companies1[4].upper()

'X-COMPANY'

12. Sort the list using sort () method

In [171]:
# IT_companies1.sort()
# print(IT_companies1)

['Amazon', 'Apple', 'Google', 'IBM', 'Meta', 'Microsoft', 'Netlix', 'Oracle', 'X-company']

13. Reverse the list in descending order using reverse() method

In [172]:
# IT_companies1.reverse()
# print(IT_companies1)

['X-company', 'Oracle', 'Netlix', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

14. Slice out the first 3 companies from the list

In [ ]:
# print(IT_companies1[0:3])

15. Slice out the last 3 companies from the list

In [ ]:
# print(IT_companies1[6:9])

16. Slice out the middle IT company or companies from the list

In [175]:
# print(IT_companies1[4])

Meta

17. Remove the first IT company from the list

In [176]:
# print(IT_companies1)
# IT_companies1.remove("X-company")

['X-company', 'Oracle', 'Netlix', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

In [177]:
# print(IT_companies1)

['Oracle', 'Netlix', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

18. Remove the middle IT company or companies from the list

In [178]:
# print(IT_companies1)
# IT_companies1.remove("IBM")
# print(IT_companies1)

['Oracle', 'Netlix', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']
['Oracle', 'Netlix', 'Microsoft', 'Meta', 'Google', 'Apple', 'Amazon']

19. Remove the last IT company from the list

In [179]:
# print(IT_companies1)
# IT_companies1.remove("Amazon")
# print(IT_companies1)

['Oracle', 'Netlix', 'Microsoft', 'Meta', 'Google', 'Apple', 'Amazon']
['Oracle', 'Netlix', 'Microsoft', 'Meta', 'Google', 'Apple']

20. Remove all IT companies from the list

In [181]:
# print(IT_companies1)
# IT_companies1.clear()

['Oracle', 'Netlix', 'Microsoft', 'Meta', 'Google', 'Apple']

In [182]:
# print(IT_companies1)

[]

21. Destroy the IT companies list

In [183]:
# del IT_companies1

In [184]:
# print("Now the List of 'IT_companies' is completely destroyed with the 'delete function'.")

Now the List of 'IT_companies' is completely destroyed with the 'delete function'.

22. Join the following lists:
23. front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [29]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
print(front_end,back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux'] ['Node', 'Express', 'MongoDB']

24. After joining the lists in. Copy the joined list and assign it to a variable
full_stack. Then insert Python and SQL after Redux.

In [38]:
join_all=front_end + back_end
print(join_all)
full_stack=join_all
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JavaScript', 'React', 'Redux', 'Node.js', 'Express', 'MongoDB']
['HTML', 'CSS', 'JavaScript', 'React', 'Redux', 'Python', 'SQL', 'Node.js', 'Express', 'MongoDB']

25. The following is a list of 10 students ages:
26. ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [11]:
# The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("This is a List of 10 students ages:",ages)

This is a List of 10 students ages: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

27. Sort the list and find the min and max age

In [208]:
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [209]:
# maximum
max(ages)

26

In [210]:
# minimum
min(ages)

19

28. Add the min age and the max age again to the list

In [212]:
print(ages)
ages.append(26)               # appendd means add
ages.append(19)
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

29. Find the median age (one middle item or two middle items divided by two)

In [18]:
two_middle_items=24+24
print(two_middle_items/2)

24.0

30. Find the average age (sum of all items divided by their number)

In [19]:
sum_of_ages=19+19+20+22+24+24+24+25+25+26+26+19
print(sum_of_ages)
print("Sum of all items is:", sum_of_ages)
average =273/12
print("The average of age is:",average)

273
Sum of all items is: 273
The average of age is: 22.75

31. Find the range of the ages (max minus min)

In [14]:
# Calculate the range
age_range = 26 - 19
print("The range of the ages is:", age_range)

The range of the ages is: 7

32. Compare the value of (min - average) and (max - average), use abs () method

In [22]:

# Calculating min, max, and average
min_value = 19
max_value = 26
average = 22.75

# Calculating absolute differences
diff_min = abs(min_value - average)
diff_max = abs(max_value - average)
print("Absolute average of minimum difference is:",diff_min, "Absolute average of maximum difference is:", diff_max)

# Comparing the two values
print(diff_min>diff_max)

Absolute average of minimum difference is: 3.75 Absolute average of maximum difference is: 3.25
True

33. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three
countries and the rest as scandic countries.
33. Divide the countries list into two equal lists if it is even if not one more country for the first
half.

In [58]:
countries=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(countries)

['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

In [48]:
# Unpacking the first three countries and the rest as Scandinavian countries
country_1st, country_2nd, country_3rd, *scandic_countries = countries

# Print the results
print("First Country:", country_1st)
print("Second Country:", country_2nd)
print("Third Country:", country_3rd)
print("Scandinavian Countries:", scandic_countries)

First Country: China
Second Country: Russia
Third Country: USA
Scandinavian Countries: ['Finland', 'Sweden', 'Norway', 'Denmark']

In [54]:
# Calculate the midpoint
midpoint = (len(countries) + 1) // 2  # Adding 1 ensures the first half gets the extra country if odd

# Divide the list into two halves
first_half = countries[:midpoint]
second_half = countries[midpoint:]

# Print the results
print("First Half:", first_half)
print("Second Half:", second_half)

First Half: ['China', 'Russia', 'USA', 'Finland']
Second Half: ['Sweden', 'Norway', 'Denmark']

35. Find the middle country(ies) in the countries list

In [55]:
# Calculate the length of the list
length = len(countries)

# Find the middle index
middle_index = length // 2
print("Middle Country(ies) index is:", middle_index,"and it is (Finland)")

Middle Country(ies) index is: 3 and it is (Finland)

# Data Type (Tuples)
Tuples are used to store multiple items in a single variable.\
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.\
A tuple is a collection which is ordered and immutable.\
Tuples are written with round brackets.

1. Create an empty tuple
2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
3. Join brothers and sisters tuples and assign it to siblings
4. How many siblings do you have?
5. Modify the siblings tuple and add the name of your father and mother and assign it to
family_members.
6. Unpack siblings and parents from family_members

In [59]:
# empty tuple
empty_tuple = ()

# Create a tuple containing names of your sisters and your brothers
sisters = ("Shabana", "Noureen", "Murk")
brothers = ("Salman", "Kashif","Waqaur","Adnan")

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers

# 4. How many siblings do you have?
number_of_siblings = len(siblings)

# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ("Dad", "Mom")


# 6. Unpack siblings and parents from family_members
siblings_unpacked, parents_unpacked = family_members[:-2], family_members[-2:]

# Output the results
print("Empty Tuple:", empty_tuple)
print("Siblings:", siblings)
print("Number of Siblings:", number_of_siblings)
print("Family Members:", family_members)
print("Unpacked Siblings:", siblings_unpacked)
print("Unpacked Parents:", parents_unpacked)

Empty Tuple: ()
Siblings: ('Shabana', 'Noureen', 'Murk', 'Salman', 'Kashif', 'Waqaur', 'Adnan')
Number of Siblings: 7
Family Members: ('Shabana', 'Noureen', 'Murk', 'Salman', 'Kashif', 'Waqaur', 'Adnan', 'Dad', 'Mom')
Unpacked Siblings: ('Shabana', 'Noureen', 'Murk', 'Salman', 'Kashif', 'Waqaur', 'Adnan')
Unpacked Parents: ('Dad', 'Mom')

7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a
variable called food_stuff_tp.
8. Change the about food_stuff_tp tuple to a food_stuff_lt list
9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
10. Slice out the first three items and the last three items from food_staff_lt list
11. Delete the food_staff_tp tuple completely.

In [65]:
# 7. Create fruits, vegetables, and animal products tuples
fruits = ("apple", "banana", "cherry", "date", "elderberry")
vegetables = ("carrot", "lettuce", "spinach", "potato", "onion")
animal_products = ("milk", "cheese", "egg", "yogurt")

# Join the three tuples and assign it to a variable called food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products

# 8. Change the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)

# 9. Slice out the middle item or items from the food_stuff_lt list
middle_index = len(food_stuff_lt) // 2

# 10. Slice out the first three items and the last three items from food_stuff_lt list
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]

# 11. Delete the food_stuff_tp tuple completely
# del food_stuff_tp

# Output the results
print("Food Stuff Tuple:", food_stuff_tp)  # This will raise an error since it's deleted
print("Food Stuff List:", food_stuff_lt)
print("Middle Items:", middle_index)
print("First Three Items:", first_three_items)
print("Last Three Items:", last_three_items)

Food Stuff Tuple: ('apple', 'banana', 'cherry', 'date', 'elderberry', 'carrot', 'lettuce', 'spinach', 'potato', 'onion', 'milk', 'cheese', 'egg', 'yogurt')
Food Stuff List: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'carrot', 'lettuce', 'spinach', 'potato', 'onion', 'milk', 'cheese', 'egg', 'yogurt']
Middle Items: 7
First Three Items: ['apple', 'banana', 'cherry']
Last Three Items: ['cheese', 'egg', 'yogurt']

# Data Type (Sets):

Sets are useful for storing collections of unique items and performing mathematical operations like unions and intersections. They are frequently used in scenarios where the uniqueness of elements is important, such as filtering duplicates from a list.

Common Operations: Sets support various operations such as union, intersection, difference, and symmetric difference.

Mutable: Sets can be modified after their creation. You can add or remove items.

1. Find the length of the set it_companies

In [77]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}

In [76]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length = len(it_companies)
print(length)

7

2. Add 'Twitter' to it_companies

In [80]:
it_companies.add('Twitter')
print(it_companies)

{'Apple', 'Oracle', 'Amazon', 'Google', 'IBM', 'Microsoft', 'Facebook', 'Twitter'}

3. Insert multiple IT companies at once to the set it_companies

In [81]:
new_companies = {'LinkedIn', 'Snapchat', 'Spotify'}
it_companies.update(new_companies)
print(it_companies)

{'Amazon', 'Snapchat', 'IBM', 'Microsoft', 'Spotify', 'Facebook', 'LinkedIn', 'Apple', 'Google', 'Oracle', 'Twitter'}

4. Remove one of the companies from the set it_companies

In [82]:
it_companies.remove('Facebook')  # Replace 'Facebook' with any company you want to remove
print(it_companies)

{'Amazon', 'Snapchat', 'IBM', 'Microsoft', 'Spotify', 'LinkedIn', 'Apple', 'Google', 'Oracle', 'Twitter'}

5. remove: This method removes a specified element from the set. If the element is not found, it raises a KeyError.\
discard: This method also removes a specified element from the set, but if the element is not found, it does nothing and does not raise an error.

#### New Sets

In [69]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

6. Join A and B

In [68]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
union = A.union(B)  # or A | B
print(union)

{19, 20, 22, 24, 25, 26, 27, 28}

7. Find A intersection B

In [67]:
intersection = A.intersection(B)  # or A & B
print(intersection)

{19, 20, 22, 24, 25, 26}

8. Is A subset of B

In [70]:
is_subset = A.issubset(B)
print(is_subset)  # Output: True or False

True

9. Are A and B disjoint sets

In [71]:
are_disjoint = A.isdisjoint(B)
print(are_disjoint)  # Output: True or False

False

10. Join A with B and B with A

In [73]:
join_a_b = A.union(B)  # A joined with B
join_b_a= B.union(A)  # B joined with A
print(join_a_b)
print(join_b_a)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

11. What is the symmetric difference between A and B

In [74]:
symmetric_difference = A.symmetric_difference(B)  # or A ^ B
print(symmetric_difference)

{27, 28}

In [ ]:
# del A
# del B

13. Convert the ages to a set and compare the length of the list and the set:\
First you have to print the set of ages.

In [83]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [95]:
# Convert to set
age_set = set(age)
print(age_set)

age_list = list(age)
print(age_list)

# Compare lengths
length_list = len(age)
length_set = len(age_set)

print("Length of the list:", length_list)  # Output: 8
print("Length of the set:", length_set)    # Output: 5 (duplicates removed)

# Which one is bigger?
print("The List is bigger than the Set.", length_list > length_set,)

{19, 22, 24, 25, 26}
[22, 19, 24, 25, 26, 24, 25, 24]
Length of the list: 8
Length of the set: 5
The List is bigger than the Set. True

Tuple:

A tuple is similar to a list but is immutable, meaning once created, the items cannot be changed.
Tuples are often used to group related data.
Example: (1, 2, 3, 'apple', 'banana')


Set:

A set is an unordered collection of unique items, meaning it cannot contain duplicates.
Sets are mutable, but since they are unordered, the items do not have a specific index.
Example: {1, 2, 3, 'apple', 'banana'}