## More practice of all class work

Static program:

In [3]:
# Assigning variable
name= "Ahmed"
namek= "Kashif"
nameA= "Ambreen"
namew= "Waquar"
age= 35
agek= 44
ageA= 40
agew= 54
student="Post Gradute Program"
course="Data Science with Artificial Intelligence"
duration_of_course= "One year"
course_mode1="on site"
course_mode2="online"
date_of_admission="25_June_2024"
date_of_admissionk= "23_June_2024"
date_of_admissionA= "25_June_2024"
date_of_admissionw= "20_June_2024"
teacher="Sir Sajid Majeed"
subject="Pythin for Data Science"
university_name="NED Academy (Empowring For Professional Excellence)"
city="Karachi"
cityk= "Islamabad"
cityA= "Karachi"
cityw= "Hyderabad"

In [8]:
# 1st data 
print("Name:\t\t\t", name)
print("Age:\t\t\t", age)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode1)
print("Admission date:\t\t", date_of_admission)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", city)

Name:			 Ahmed
Age:			 35
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 on site
Admission date:		 25_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Karachi

In [4]:
# 2nd data
print("Name:\t\t\t", namek)
print("Age:\t\t\t", agek)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode2)
print("Admission date:\t\t", date_of_admissionk)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityk)

Name:			 Kashif
Age:			 44
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 online
Admission date:		 23_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Islamabad

In [6]:
# 3rd data
print("Name:\t\t\t", nameA)
print("Age:\t\t\t", ageA)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode1)
print("Admission date:\t\t", date_of_admissionA)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityA)

Name:			 Ambreen
Age:			 40
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 on site
Admission date:		 25_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Karachi

In [9]:
# 4th data
print("Name:\t\t\t", namew)
print("Age:\t\t\t", agew)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode2)
print("Admission date:\t\t", date_of_admissionw)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityw)

Name:			 Waquar
Age:			 54
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 online
Admission date:		 20_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Hyderabad

#### Dynamic program:

In [4]:
# static program

data1={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
data2={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}
print("Your desired data is:\t",data1)
print("Your desired data is:\t",data2)

Your desired data is:	 {'name': 'Ahmed', 'age': 35, 'student': 'Post Gradute Program', 'duration of course': 'One Year', 'course_mode1': 'on site', 'date_of_admission': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Pythin for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'city': 'Karachi'}
Your desired data is:	 {'namek': 'Kashif', 'agek': 44, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionk': '23_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityk': 'Islamabad'}

In [10]:
dataA={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
dataK={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}

input("Enter your desired data")
input("Enter your desired data")
print("Your desired data is: ", dataA)
print("Your desired data is: ", dataK)

Your desired data is:  {'name': 'Ahmed', 'age': 35, 'student': 'Post Gradute Program', 'duration of course': 'One Year', 'course_mode1': 'on site', 'date_of_admission': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Pythin for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'city': 'Karachi'}
Your desired data is:  {'namek': 'Kashif', 'agek': 44, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionk': '23_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityk': 'Islamabad'}

#### "This is time-consuming, so we need to work with a dictionary to create and manage data for each person."

## Dictionary

In [16]:
data1={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
data2={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}
data3={'nameA':'Ambreen','agek': 40, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode1':'on site','date_of_admissionA':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityA':'Karachi'}
data4={'namew':'Waquar','agew': 54, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionw':'20_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityw':'Hyderabad'}
print(data1)
print(data2)
print(data3)
print(data4)

{'name': 'Ahmed', 'age': 35, 'student': 'Post Gradute Program', 'duration of course': 'One Year', 'course_mode1': 'on site', 'date_of_admission': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Pythin for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'city': 'Karachi'}
{'namek': 'Kashif', 'agek': 44, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionk': '23_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityk': 'Islamabad'}
{'nameA': 'Ambreen', 'agek': 40, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode1': 'on site', 'date_of_admissionA': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityA': 'Karachi'}
{'namew': 'Waquar', 'agew': 54, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionw': '20_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityw': 'Hyderabad'}

#### Dictionary with Conditional Statement

In [18]:
user_input=input("Enter your desired data information:")
if user_input=="data1":
    print("This is Ahmed's Data:", data1)
elif user_input=="data2":
    print("This is Kashif's Data:", data2)
elif user_input=="data3":
    print("This is Ambreen's Data:", data3)
elif user_input=="data4":
    print("This is Waquar's Data:",data4)
else:
    print("Please Enter correct Name that you need to know.")

This is Waquar's Data: {'namew': 'Waquar', 'agew': 54, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionw': '20_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityw': 'Hyderabad'}

## Arthmetic Operators for practice:

### Some more examples of percentage

### 1- Naheed has Rs.120. She spends 25% of the amount. How much money is left with her?

In [1]:
total_amount = 120
rate_of_expenditure = total_amount*25/100

total_amount-30

90

In [2]:
print(120*25/100)            # for example
print(120-30)

30.0
90

### 2- 75% students out of 60 were present in a test. How many students were absent?

In [3]:
present_students = 60
persentage_of_students = present_students*75/100

present_students-45

15

In [4]:
print(60*75/100)       # for example
print(60-45)

45.0
15

### 3- I obtained 60 marks out of 75 marks. what is the percentage of my marks?

In [5]:
obtained_marks = 60
total_marks = 75
Find_percentage = '?'
per = obtained_marks/total_marks*100
print("The percentage of Marks is:",per)

The percentage of Marks is: 80.0

In [6]:
60/75*100               # for example

80.0

### 4- The cost of a book is Rs 60. The shop offers a discount of 40% on the selling price. What is the discounted price of the book?

In [19]:
cost_of_a_book = 60
discount_percentage = 40
discounted_price = "?"
disc_price = discount_percentage/100*cost_of_a_book
disc_price

24.0

In [28]:
# rough work
print("discounted percentage is: ", 40/100*60)
print("discounted price of a book is: ", 60 - 24)

discounted percentage is:  24.0
discounted price of a book is:  36

### 5- A shop offers 30 % off during Eid on prices of refigerators, electric ovens, and all other items on display. What will be the selling price of 2 electric irons, each with a tag of Rs 2000?

In [35]:
shop_offer_percentage = 30
each_electric_item_price = 2000
electric_2_irons_price = " ? "
eid_offer = shop_offer_percentage/100*each_electric_item_price
print(eid_offer)
print(each_electric_item_price - eid_offer)
print(1400*2)

600.0
1400.0
2800

In [36]:
# rough work
print(30/100*2000)
print(2000 - 600)
print(1400*2)

600.0
1400
2800

### 6- A man's salary increased from Rs 10,000 to 15,000 after his promotion. What is the percentage increase?

In [46]:
old_salary = 10000
new_salary = 15000
Find_percentage = " ? " 
increase_in_salary = new_salary - old_salary
print("Inceased salary is: ",increase_in_salary)
percentage_increased = (increase_in_salary/old_salary)*100
print("The increased percentage of salary is: ", percentage_increased,"%")

Inceased salary is:  5000
The increased percentage of salary is:  50.0 %

In [51]:
# rough work
print(15000-10000,"Rs increased salary")
print((5000/10000)*100,"%")

5000 Rs increased salary
50.0 %