## More practice of all class work

Static program:

In [3]:
# Assigning variable
name= "Ahmed"
namek= "Kashif"
nameA= "Ambreen"
namew= "Waquar"
age= 35
agek= 44
ageA= 40
agew= 54
student="Post Gradute Program"
course="Data Science with Artificial Intelligence"
duration_of_course= "One year"
course_mode1="on site"
course_mode2="online"
date_of_admission="25_June_2024"
date_of_admissionk= "23_June_2024"
date_of_admissionA= "25_June_2024"
date_of_admissionw= "20_June_2024"
teacher="Sir Sajid Majeed"
subject="Pythin for Data Science"
university_name="NED Academy (Empowring For Professional Excellence)"
city="Karachi"
cityk= "Islamabad"
cityA= "Karachi"
cityw= "Hyderabad"

In [8]:
# 1st data 
print("Name:\t\t\t", name)
print("Age:\t\t\t", age)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode1)
print("Admission date:\t\t", date_of_admission)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", city)

Name:			 Ahmed
Age:			 35
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 on site
Admission date:		 25_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Karachi

In [4]:
# 2nd data
print("Name:\t\t\t", namek)
print("Age:\t\t\t", agek)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode2)
print("Admission date:\t\t", date_of_admissionk)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityk)

Name:			 Kashif
Age:			 44
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 online
Admission date:		 23_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Islamabad

In [6]:
# 3rd data
print("Name:\t\t\t", nameA)
print("Age:\t\t\t", ageA)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode1)
print("Admission date:\t\t", date_of_admissionA)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityA)

Name:			 Ambreen
Age:			 40
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 on site
Admission date:		 25_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Karachi

In [9]:
# 4th data
print("Name:\t\t\t", namew)
print("Age:\t\t\t", agew)
print("Student:\t\t", student)
print("Duration of course:\t", duration_of_course)
print("Course mode:\t\t", course_mode2)
print("Admission date:\t\t", date_of_admissionw)
print("Teacher Name:\t\t", teacher)
print("Subject:\t\t", subject)
print("University Name:\t", university_name)
print("City Name:\t\t", cityw)

Name:			 Waquar
Age:			 54
Student:		 Post Gradute Program
Duration of course:	 One year
Course mode:		 online
Admission date:		 20_June_2024
Teacher Name:		 Sir Sajid Majeed
Subject:		 Pythin for Data Science
University Name:	 NED Academy (Empowring For Professional Excellence)
City Name:		 Hyderabad

#### Dynamic program:

In [32]:
data1={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
data2={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}

In [35]:
dataA={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
dataK={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}

dataA=input("Enter your desired data")
dataK=input("Enter your desired data")
print("Your desired data is:\t",dataA)
print("Your desired data is:\t",dataK)
# Will continue later

Your desired data is:	 dataA
Your desired data is:	 dataK

#### "This is time-consuming, so we need to work with a dictionary to create and manage data for each person."

## Dictionary

In [13]:
data1={'name':'Ahmed','age':35,'student': 'Post Gradute Program','duration of course':'One Year','course_mode1':'on site','date_of_admission':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Pythin for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','city':'Karachi'}
data2={'namek':'Kashif','agek': 44, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionk':'23_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityk':'Islamabad'}
data3={'nameA':'Ambreen','agek': 40, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode1':'on site','date_of_admissionA':'25_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityA':'Karachi'}
data4={'namew':'Waquar','agew': 54, 'student': 'Post Gradute Program', 'duration_of_course':'One Year','course_mode2':'online','date_of_admissionw':'20_June_2024','teacher':'Sir Sajid Majeed','subject':'Python for Data Science','university_name':'NED Academy (Empowring For Professional Excellence)','cityw':'Hyderabad'}
print(data1)
print(data2)
print(data3)
print(data4)

{'name': 'Ahmed', 'age': 35, 'student': 'Post Gradute Program', 'duration of course': 'One Year', 'course_mode1': 'on site', 'date_of_admission': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Pythin for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'city': 'Karachi'}
{'namek': 'Kashif', 'agek': 44, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionk': '23_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityk': 'Islamabad'}
{'nameA': 'Ambreen', 'agek': 40, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode1': 'on site', 'date_of_admissionA': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityA': 'Karachi'}
{'namew': 'Waquar', 'agew': 54, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode2': 'online', 'date_of_admissionw': '20_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityw': 'Hyderabad'}

#### Conditional Statement with Dictionary

In [28]:
user_input=input("Enter your desired data information:")
if user_input=="data1":
    print("This is Ahmed's Data:", data1)
elif user_input=="data2":
        print("This is Kashif's Data:", data2)
elif user_input=="data3":
            print("This is Ambreen's Data:", data3)
elif user_input=="data4":
                print("This is Waquar's Data:",data4)
else:
    print("Please Enter correct Name that you need to know.")

This is Ambreen's Data: {'nameA': 'Ambreen', 'agek': 40, 'student': 'Post Gradute Program', 'duration_of_course': 'One Year', 'course_mode1': 'on site', 'date_of_admissionA': '25_June_2024', 'teacher': 'Sir Sajid Majeed', 'subject': 'Python for Data Science', 'university_name': 'NED Academy (Empowring For Professional Excellence)', 'cityA': 'Karachi'}